<launch>

  <!-- Launch vision stuff: -->
  <include file="$(find openni_launch)/launch/openni.launch" />

  <!-- This is highly dependent on the setup of the kinect in the lab -->
  <node name="clam_vision_frame" pkg="tf" type="static_transform_publisher" output="screen"
	args="0.751453 -0.1000048 0.659977 3.04582 0.844943 -0.20587 base_link /camera_link 100"/>


</launch>
