<launch>

  <!-- Launch vision stuff: -->
  <include file="$(find openni_launch)/launch/openni.launch" />

  <!-- This is highly dependent on the setup of the kinect in the lab -->
  <node name="clam_vision_frame" pkg="tf" type="static_transform_publisher" output="screen"
	args="0.320593 0.721478 0.757392 0.30815 0.319746 -0.592972 0.671707 /base_link /camera_link 100"/>

</launch>
