<launch>

  <!-- Launch vision stuff: -->
  <include file="$(find openni_launch)/launch/openni.launch" />

  <!-- This is highly dependent on the setup of the kinect in the lab -->
  <node name="clam_vision_frame" pkg="tf" type="static_transform_publisher" output="screen"
        args="0.325766 0.07044 0.773049 0.0065139 0.732488 0.0329268 0.707349 /base_link /camera_link 100"/>
  <!--  args= x        y       z        roll      pitch    yall -->
  <!--  args="0.287766 0.08244 0.643049 0.0145139 0.706488 0.0179268 0.707349 /base_link /camera_link 100" -->
  <!-- KEY:
       x - 
       y - 
       z - 
       r - 
       p - rotate of y axis
       y - rotate of z axis
  -->
</launch>
