build/
devel/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Python stuff
*.pyc

# Data files
*.dat

# Emacs temp files
.#*