<!-- -*- mode: XML -*- -->
<!-- Launch everything for block manipulation -->

<launch>

  <node name="clam_arm_action_server" pkg="clam_block_manipulation" type="clam_arm_action_server" output="screen"/>

  <node name="clam_moveit_experimental_node" pkg="clam_moveit_experimental" type="clam_moveit_experimental_node" output="screen"/>

</launch>

