<launch>
  <!-- send robot XML to param server -->
  <param name="robot_description" command="cat $(find clam_description)/urdf/clam.urdf" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="clam_controller" type="joint_state_publisher.py">
    <param name="use_gui" value="TRUE"/>
    <!--rosparam param="source_list">[joint_states]</rosparam-->
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find clam_bringup)/launch/rviz/clam_simulation.rviz">
    <rosparam command="load" file="$(find clam_moveit_config)/config/kinematics.yaml"/>
  </node>

</launch>
