<launch>

  <!-- Launch perception -->
  <node name="block_detection_action_server" pkg="clam_block_manipulation" type="block_detection_action_server" output="screen">
    <!--remap from="/camera/depth_registered/points" to="/camera/rgb/points" /-->
  </node>

  <!-- Launch rviz interactivity -->
  <node name="interactive_manipulation_action_server" pkg="clam_block_manipulation" type="interactive_manipulation_action_server" output="screen">
  </node>

  <!-- Launch controller manager in this namespace -->
  <include ns="pick_place_action_server" file="$(find clam_moveit_config)/launch/trajectory_execution.launch">
    <arg name="moveit_controller_manager" value="clam" /> 
    <arg name="moveit_manage_controllers" value="true" />
  </include>
  
  <!-- Launch pick and place -->
  <node name="pick_place_action_server" pkg="clam_block_manipulation" type="pick_place_action_server" output="screen">
    <rosparam command="load" file="$(find clam_moveit_config)/config/kinematics.yaml"/> <!-- this allows the computeCartesianPath() func to have an IK solver -->
  </node>

  <!-- Temp: launch demo -->
  <include file="$(find clam_block_manipulation)/launch/block_demo.launch" />
  
</launch>
