<?xml version="1.0" ?>

<robot name="clam">
  <!-- BASE LINK -->
  <link name="base_link">
    <visual>
      <origin rpy="1.570795 0 0" xyz="0 0 0"/>
      <!-- rotate PI/2 -->
      <geometry>
        <mesh filename="package://clam_description/openrave/base.stl" />
      </geometry>
    </visual>
  </link>
</robot>

